# requirements.txt（torch 系は削除、 torch 系を記述しない）

python-docx
langdetect
sqlalchemy
mecab-python3
numpy>=1.24
PyMuPDF>=1.23.0
opencv-python
pdf2image
Pillow
langchain
langchain-ollama
langchain-community
sentence-transformers==2.7.0
transformers==4.40.1
psycopg2-binary
openai
faiss-cpu
streamlit
pytesseract
fugashi
ipadic
unidic-lite
timm
fastapi
uvicorn
jinja2
python-multipart